<a href="https://colab.research.google.com/github/WasudeoGurjalwar/AL_ML_Assignments/blob/main/Linear_Regression_on_IMD_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score, mean_squared_error
from math import sqrt

In [3]:
data = pd.read_csv('IMD_Proceesed_Data_Train_v01.csv', index_col=0)
data.head()

,day,month,year,lat,lon,pos,rain,tmin,tmax
time,,,,,,,,,
2000-01-01,0,1,2000,16.5,73.5,"(16.5, 73.5)",2.239058,18.340000,30.950001
2000-01-03,2,1,2000,25.5,86.5,"(25.5, 86.5)",0.931929,8.860000,21.620001
2000-01-04,3,1,2000,9.5,78.5,"(9.5, 78.5)",0.183486,20.650000,26.969999
2000-01-05,4,1,2000,12.5,79.5,"(12.5, 79.5)",0.380458,20.270000,29.010000
2000-01-06,5,1,2000,9.5,78.5,"(9.5, 78.5)",3.853210,21.379999,28.930000

In [4]:
# print the shape of the DataFrame
data.shape

(651460, 9)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 651460 entries, 2000-01-01 to 2020-12-31
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   day     651460 non-null  int64
 1   month   651460 non-null  int64
 2   year    651460 non-null  int64
 3   lat     651460 non-null  float64
 4   lon     651460 non-null  float64
 5   pos     651460 non-null  object
 6   rain    651460 non-null  float64
 7   tmin    651460 non-null  float64
 8   tmax    651460 non-null  float64
dtypes: float64(5), int64(3), object(1)
memory usage: 49.7+ MB

In [6]:
data.isnull().sum()

day      0
month    0
year     0
lat      0
lon      0
pos      0
rain     0
tmin     0
tmax     0
dtype: int64

In [18]:
plt.subplots(1, 3,0)
data.rain.plot.density(color='blue')
plt.subplots(1, 3,2, figsize=(15, 5))
data.tmin.plot.density(color='red')
plt.subplots(1, 3,3, figsize=(15, 5))
data.tmax.plot.density(color='green')
plt.show()

TypeError: subplots() takes from 0 to 2 positional arguments but 3 were given