<a href="https://colab.research.google.com/github/WasudeoGurjalwar/AL_ML_Assignments/blob/main/Assignments/Assignment1/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Data Exploration Exercises

#### Task 1.1 - The goal of this exercise is to find the average age of celebrities who died February–July 2016

<div>
  <a href="https://colab.research.google.com/github/emharsha1812/CCE_Assignment/blob/main/Assignments/Pandas.ipynb" target="_parent">
    <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
  </a>
</div>

1. Create a data frame from the file celebrity_deaths_2016.csv. For this exercise, we’ll use only two columns:
–dateofdeath
– age
2. Create a new month column containing the month from the dateofdeath
column.
3. Make the month column the index of the data frame.
4. Sort the data frame by the index.
5. Clean all nonintegers from the age column.
6. Turn the age column into an integer value.
7. Find the average age of celebrities who died during that period

In [94]:
import pandas as pd
import numpy as np

import csv
import urllib

# You are NOT required to change the code here
# titanic_df=pd.read_csv('celebrity_deaths_2016.csv')
titanic_df='https://raw.githubusercontent.com/WasudeoGurjalwar/AL_ML_Assignments/refs/heads/main/Assignments/Assignment1/celebrity_deaths_2016.csv'

def calculate_average_age(df=titanic_df):
    #TODO- Write your code here
    '''Arguments -
    titanic_df = The pandas dataframe that we loaded

    Returns
    int : average_age
    '''
    # read the csv file from the URL
    df = pd.read_csv(titanic_df)

    #month column creation
    df['death_month'] = pd.to_datetime(df['dateofdeath']).dt.month

    # month column indexing
    df.set_index('death_month',inplace=True)

     # month column sorting
    df.sort_index(inplace=True)
    #age column operations
    df['age'] = pd.to_numeric(df['age'], errors = 'coerce').fillna(0).astype(int)
    df['age'] = df['age'].astype(int)

    #extracting july month data
    july_16_deaths = df[(df.index)==7]

    #average age calculations
    average_age=None #Placeholder
    average_age = july_16_deaths['age'].mean()
    return average_age

get_average_age_ans=calculate_average_age(titanic_df)
print ("average_age_ans:",get_average_age_ans)

average_age_ans: 85.4548802946593

### Task 1.2 - The goal of this exercise is to group the data according to the below conditions
1. Load the CSV file nyc_taxi_2019-01.csv into a data frame using only the columns passenger_count, trip_distance, and total_amount.
2. Using a descending sort, find the average cost of the 20 longest (in distance) taxi rides in January 2019.
3. Using an ascending sort, find the average cost of the 20 longest (in distance) taxi rides in January 2019. Are the results any different?
4. Sort by ascending passenger count and descending trip distance. (So, start with the longest trip with 0 passengers and end with the shortest trip with 9 passengers.) What is the average price paid for the top 50 rides?

In [97]:
# filename = 'nyc_taxidataset.csv'
filename='https://raw.githubusercontent.com/WasudeoGurjalwar/AL_ML_Assignments/refs/heads/main/Assignments/Assignment1/nyc_taxidataset.csv'
df = pd.read_csv(filename,usecols=['passenger_count','trip_distance',
'total_amount'],
dtype={'total_amount':np.float128})

#reading complete file for getting data for jan 2019
df_complete = pd.read_csv(filename)

# Task 1.2.2 & Task 1.2.3
def get_average_cost_descending_sort(df):
    """Arguments- df:Dataframe

    Returns
    tuple of float - (avg_desc,avg_asc) : (rounded of two integers)
    """

    #accessing data for january 2019 data
    df_complete['tpep_pickup_datetime'] = pd.to_datetime(df_complete['tpep_pickup_datetime'])
    january_rides = df_complete[(df_complete['tpep_pickup_datetime'].dt.month == 1) & (df_complete['tpep_pickup_datetime'].dt.year == 2019)]

    #sorting data for january 2019 data
    df_1 = january_rides.sort_values(by='trip_distance',ascending=False)
    df_2 = january_rides.sort_values(by='trip_distance',ascending=True)

    #getting first and last 20 data
    df_1 = df_1.head(20)
    df_2 = df_2.tail(20)

    avg_desc=None
    avg_asc=None

    #calculating mean value
    avg_desc = df_1['total_amount'].mean()
    avg_asc = df_2['total_amount'].mean()
    print ("avg_asc", avg_asc)
    print ("avg_desc",avg_desc)

    return (avg_desc,avg_asc)

def get_price_top50_rides(df):
    """Arguments df:Dataframe
    Returns
    float - rounded to two integers
    """
    avg_price_rides=None
    #Write your code below

    #sorting data for passenger count and trip
    df_1 = df.sort_values(by='passenger_count',ascending=True)
    df_1 = df.sort_values(by='trip_distance',ascending=False)

    #getting dtaa for 50 rides
    top_50_rides = df_1.head(50)

    #averag calculation
    average_price = top_50_rides['total_amount'].mean()
    print("average_price", average_price)

    return avg_price_rides


get_average_cost_ans=get_average_cost_descending_sort(df)
get_avg_price_top50_ans=get_price_top50_rides(df)

avg_asc 86.9045
avg_desc 86.9045
average_price 73.95580000000000012

#### Task 1.3 - The goal of this exercise is to group the data according to the below conditions
1. Load taxi data from January 2019 into a data frame using only the columns passenger_count, trip_distance, and total_amount.
2. For each number of passengers, find the mean cost of a taxi ride. Sort this result from lowest (i.e., cheapest) to highest (i.e., most expensive). Return the topmost value (use .head(1))
Sort the results again by increasing the number of passengers. Return the topmost value (use .head(1))
3. Create a new column, trip_distance_group, in which the values are short (< 2
miles), medium (>= 2 miles and <= 10 miles), and long (> 10 miles). What is the
average number of passengers per trip length category? Sort this result from
highest (most passengers) to lowest (fewest passengers).

In [106]:
filename='https://raw.githubusercontent.com/WasudeoGurjalwar/AL_ML_Assignments/refs/heads/main/Assignments/Assignment1/nyc_taxidataset.csv'
df = pd.read_csv(filename,usecols=['passenger_count','trip_distance','total_amount'])

#reading complete file for getting data for jan 2019
df_complete = pd.read_csv(filename)
df_complete['tpep_pickup_datetime'] = pd.to_datetime(df_complete['tpep_pickup_datetime'])
january_rides = df_complete[(df_complete['tpep_pickup_datetime'].dt.month == 1) & (df_complete['tpep_pickup_datetime'].dt.year == 2019)]


def get_mean_cost(df):
    """Parameters
    df - Dataframe

    Returns
    mean_cost : int"""
    #Write your code below
    mean_cost=None
    mean_cost = january_rides.groupby('passenger_count')['total_amount'].mean()
    print("mean_cost:",mean_cost)
    return mean_cost


def get_lowest_average_fare(df):
    """
    Find the passenger count with the lowest average total fare.

    Args:
    df (pandas.DataFrame): A DataFrame containing 'passenger_count' and 'total_amount' columns.

    Returns:
    pandas.Series: A Series with one row, containing the passenger count with the lowest average fare.
    """
    mean_cost=None
    mean_cost = january_rides.groupby('passenger_count')['total_amount'].mean()
    print("mean_cost:",mean_cost)

    #Sort by mean cost (ascending)
    sorted_mean_cost = mean_cost.sort_values()

    #cheapest ride cal
    cheapest_ride = sorted_mean_cost.head(1)
    print("cheapest_ride:",cheapest_ride)
    # Sort by passenger count (ascending)
    sorted_by_passengers = mean_cost.sort_index()

    # ride with the lowest passenger count
    lowest_passenger_count = sorted_by_passengers.head(1)
    print("lowest_passenger_count:",lowest_passenger_count)
    pass


def categorize_distance(distance):
  if distance < 2:
    return 'short'
  elif distance <= 10:
    return 'medium'
  else:
    return 'long'

def get_trip_length_category(df):
    """
    Find the average number of passengers per trip length category

    Args:
    df (pandas.DataFrame): A DataFrame containing 'passenger_count' and 'total_amount' columns.

    Returns:
    pandas.Series: A Series with three rows. displaying values of trip distance (short, medium, long).
    """

    df['trip_distance_group'] = df['trip_distance'].apply(categorize_distance)

    avg_passengers_per_group = df.groupby('trip_distance_group')['passenger_count'].mean()
    print("avg_passengers_per_group:",avg_passengers_per_group)

    sorted_avg_passengers = avg_passengers_per_group.sort_values(ascending=False)

    print(sorted_avg_passengers)




    pass

mean_cost_ans=get_mean_cost(df)
lowest_average_fare_ans=get_lowest_average_fare(df)
trip_length_category_ans=get_trip_length_category(df)

mean_cost: passenger_count
0    15.466106
1    15.450106
2    15.861600
3    16.133279
4    15.735145
5    15.826714
6    16.030469
Name: total_amount, dtype: float64
mean_cost: passenger_count
0    15.466106
1    15.450106
2    15.861600
3    16.133279
4    15.735145
5    15.826714
6    16.030469
Name: total_amount, dtype: float64
cheapest_ride: passenger_count
1    15.450106
Name: total_amount, dtype: float64
lowest_passenger_count: passenger_count
0    15.466106
Name: total_amount, dtype: float64
avg_passengers_per_group: trip_distance_group
long      1.735562
medium    1.788723
short     1.749334
Name: passenger_count, dtype: float64
trip_distance_group
medium    1.788723
short     1.749334
long      1.735562
Name: passenger_count, dtype: float64